@mixin row-wrapper {
  display: flex;
  flex-direction: row;
}

.row-wrapper-space-between {
  @include row-wrapper();
  justify-content: space-between;
}

.row-wrapper-center {
    @include row-wrapper();
    justify-content: center;
}

.row-wrapper-start {
    @include row-wrapper();
    justify-content: flex-start;
}


.col-wrapper {
  display: flex;
  flex-direction: column;
}

.input {
  margin-right: 8rem;
}
