.card {
  i {
    color: #257e24;
    font-size: 4rem;
    margin-bottom: 1.2rem;
  }
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 2px 4px rgb(151, 151, 151);
  border-radius: 4px;
  animation: card-appear 600ms ease-out forwards;
  background-color: #eff5ff;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;

  @keyframes card-appear {
    from {
      opacity: 0;
      transform: translateX(4rem);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.link {
  text-align: center;
  p {
    font-weight: bold;
    text-align: center;
    width: fit-content;
    align-self: center;
    word-break: keep-all;
    border-bottom: 2px solid #000;
  }
  p:hover {
    $hoverColor: blue;
    color: $hoverColor;
    border-bottom: 2px solid $hoverColor;

    transition: all ease-in-out 200ms;
  }
}
