$blueAccent: #0040d2;
$blueAccentDark: #002477;

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000e2e;
  padding: 4px;
  margin: 4px;

  &:last-child {
    border-bottom: none;
  }
  span {
    display: flex;
    flex-direction: row;
  }
}

.remove {
  color: red;
  margin-left: 1rem;
  cursor: pointer;
}

.link {
  color: $blueAccentDark;
  border-bottom: 2px solid $blueAccentDark;
}

.link:hover {
  color: $blueAccent;
  border-bottom: 2px solid $blueAccent;
}
