$textColor: #0a66c2;

.info {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: $textColor;
  padding: 0;
  gap: 10px;

  svg {
    display: inline;
  }
}