$imgSize: 70px;
$navbar-height: 80px;
.image {
  display: flex;
  aspect-ratio: 1;
  align-self: center;
  justify-self: center;
  max-height: $navbar-height - 20px;
  margin-left: 20px;
  cursor: pointer;
}

//Large screen
@media (min-width: 650px) {
  .image {
    margin: 0px 10px;
    border-radius: 10px;
    justify-self: flex-end;
  }
}
