.hidden {
  display: none;
}

.detailed {
  width: 80%;

  label {
    display: none;
  }
}

.editors-section {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .listed {
    width: 100%;
  }
}

.validation {
  display: flex;
  color: #b40e0e;
  margin-bottom: 12px;
}