$blueAccent: #0040d2;
$whiteBg: #eff5ff;
$blueBg: #dff5ff;

@mixin field-base {
  min-height: 1.6rem;
  max-height: 100%;
  padding: 0.4rem 0.8rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  overflow: auto;
  width: 100%;
  margin-bottom: 1rem;

  &:focus {
    border-color: $blueAccent;
    background-color: $blueBg;
  }
}

.field {
  @include field-base;
}

.field-date {
  @include field-base;
}

.invalid {
  border-color: #b40e0e !important;
  background-color: #fddddd !important;
  margin-bottom: 0 !important;
}

.invalid:hover {
  border-color: #ff8800 !important;
  background-color: #fbe8d2 !important;
}

.invalid:focus {
  border-color: #ff8800 !important;
  background-color: #fbe8d2 !important;
}

.image-upload {
  @include field-base;
  width: 100%;
}

.image-preview {
  margin: 1.6rem;
  border: 4px solid #ccc;
  border-radius: 8px;
}

.image-clear:hover {
  color: #b40e0e;
}

.image-section-hidden {
  display: none;
}

.hidden {
  visibility: hidden;
  display: none;
}

.validation {
  display: flex;
  color: #b40e0e;
}

.description-section-title {
  color: #000e2e;
  font-size: 24px;
  align-self: center;
}