@font-face {
  font-family: Rancho;
  src: url('~@/resources/fonts/Rancho-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  src: url('~@/resources/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  src: url('~@/resources/fonts/NotoSans-Regular.ttf') format('truetype');
}