@import './font-faces.scss';
@import './variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply cursor-pointer block font-semibold shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 bg-blue-500 text-white hover:bg-blue-400 focus-visible:outline-blue-500;
    }

    .btn-flat {
        @apply cursor-pointer bg-white text-darkerBlue border-2 border-darkerBlue border-solid rounded-xl disabled:opacity-50 disabled:pointer-events-none;
    }

    .form-input {
        @apply border-darkGray border border-solid rounded-lg bg-lightGray transition ease-in-out duration-200 focus:border-blue-500 focus:outline-none;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontFamily;
    color: $primaryBlack;
    text-rendering: optimizeLegibility;
}

hr {
    height: 1px;
}