@import './font-faces.scss';
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
  color: $primaryBlack;
}

hr {
  background-color: $primaryGrey;
  height: 1px;
}

#body {
  max-width: 100%;
}

#appBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
}

.g__center {
  margin: auto;
  text-align: center;
}

.g__display-none {
  display: none !important;
}

.g__text-bold {
  font-weight: bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;