$lightBlue: #dff5ff;
$primaryBlue: #0040d2;
$primaryRed: #ff2970;
$darkBlueAccent: #002477;
$darkerBlue: #000e2e;
$darkerBlueTransparent: #000e2e96;

$primaryWhite: #eff5ff;
$primaryGrey: #f5f8fc;

$fontFamily: 'Noto Sans', 'Open Sans', sans-serif;

$borderBase: #424242;
$borderFocus: #3fa2ff;
$inputBaseBg: #f5f8fc;
$borderInvalidBase: #ff2970;
$borderInvalidFocus: #ff802b;