$lightBlue: #dff5ff;
$primaryBlue: #0040d2;
$darkBlueAccent: #002477;
$darkerBlue: #000e2e;
$darkerBlueTransparent: #000e2e96;

$primaryWhite: #eff5ff;
$fontFamily: 'Noto Sans', 'Open Sans', sans-serif;