.content {
  background-color: #fff;
  border-radius: 35px;
  padding: 4rem;
  max-width: 80em;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 4rem;
  text-align: center;
  box-shadow: 0px 4px 84px -21px rgba(0, 0, 0, 0.25);
  animation: section-appear 500ms ease-in-out;
}

@keyframes section-appear {
  from {
    opacity: 0;
    transform: translateY(-4rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}