$blueAccent: #0040d2;
$lightGrey: #ccc;
$whiteBg: #eff5ff;
$blueBg: #dff5ff;

.panel {
  div {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    animation: panel-appear 200ms ease-in-out;

    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;

    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
      0 7px 10px -5px rgba(39, 53, 176, 0.4);

    button {
      text-decoration: none;
      width: 100%;
      margin: 8px 16px;
      padding: 8px 16px;
      transition: all 200ms linear;
      font-family: 'Noto Sans', 'Roboto', 'Helvetica', 'Arial', sans-serif;
      line-height: 1.5em;
      border-radius: 8px;
      text-align: left;
    }
  }
}

.active {
  color: #fff;
  background-color: $blueAccent;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(39, 53, 176, 0.4);
}

@keyframes panel-appear {
  from {
    opacity: 0;
    transform: translateX(-4rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
