@import "@/styles/variables.scss";

.suggestions {
  position: absolute;
  padding: 1px;
  top: 100%;
  width: inherit;

  li {
    border-radius: 4px;
    padding: 4px;
  }
}

.tag {
  cursor: pointer;

  &:hover {
    background-color: $lightBlueAccent;
    color: white;
  }
}