.controls {
  width: 100%;
  display: flex;
  gap: 4px;
  flex-direction: row;
  margin: 1rem;
}

.btn {
  width: 100%;
  padding: 0.25rem 0.5rem;
  border-bottom: 2px solid transparent;

  &:hover {
    color: #3a63c4;
    border-bottom: 2px solid #a1b2db;
  }
}

.current {
  color: #0040d2 !important;
  border-bottom: 2px solid #0040d2 !important;
}