.tags {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  flex-wrap: wrap;
  padding: 2px 8px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.tag {
  background-color: #d5eeeb;
  border-radius: 4px;
  display: flex;
  margin: 2px;
  min-width: 0px;
  box-sizing: border-box;
  transition: color 150ms ease 0s;
  font-size: 85%;
  overflow: hidden;
  padding: 3px 3px 3px 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}