$blueAccent: #0040d2;

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .items {
    width: 100%;
    flex-direction: column;
  }
}