$redAccent: #c20a0a;

.links {
  display: flex;
  flex-direction: column;
  font: 16px;
  text-decoration: underline;

  li {
    margin-top: 3px;
  }

  a:hover {
    color: #000;
  }

  a:visited {
    color: $redAccent;
  }
}