$headerWidth: 70vw;
$redAccent: #c20a0a;
$redBG: #ffc8c8;

.info {
  flex-grow: 1;
  padding: 0px 20px;
}

.tabs {
  width: 100%;
  max-width: $headerWidth;
  display: flex;

  button {
    padding: 10px 20px;
  }
}

.links {
  display: flex;
  flex-direction: column;
  font: 16px;
  text-decoration: underline;

  li {
    margin-top: 3px;
  }

  a:hover {
    color: #000;
  }

  a:visited {
    color: $redAccent;
  }
}

.title {
  font: bold 28px;
}

.moto {
  font: 16px;
  max-width: 40vw;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: 1000px) {
  .title {
    font-size: 20px;
  }


  .info {
    max-width: 50vw;
  }

  .tabs {
    padding: 0px 15px;
  }
}

@media (max-width: 800px) {
  .info {
    max-width: 50vw;
  }
}

@media (max-width: 600px) {
  .tabs {
    padding: 0px 15px;
    max-width: 100vw;
    width: 100%;
    justify-content: center;
    overflow-y: hidden;

    button {
      padding: 10px 10px;
    }
  }

  .info {
    max-width: 50vw;
  }
}