@import '@/styles/variables.scss';

.item {
  svg {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    stroke: $darkerGrey;
  }

  display: flex;
  gap: 8px;
  justify-items: center;
  align-items: center;
}