@import '@/styles/variables.scss';

.field {
  display: flex;
  transition: all ease-in-out 200ms;
  border: 1.75px solid $borderBase;
  border-radius: 10px;
  padding: 4px;
  align-items: center;
  background: $inputBaseBg;
  justify-content: space-between;
}

.field:focus-within {
  transition: all ease-in-out 200ms;
  border: 1.75px solid $borderFocus;
}

.input {
  background: $inputBaseBg;
  font-family: 'Noto Sans';
}

.input:focus {
  background: $inputBaseBg;
  outline: none;
}

.invalid {
  border: 1.75px solid $borderInvalidBase;
}

.invalid:focus-within {
  transition: all ease-in-out 200ms;
  border: 1.75px solid $borderInvalidFocus;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $inputBaseBg inset !important;
  box-shadow: 0 0 0 30px $inputBaseBg inset !important;
}

.label {
  margin: 2px 10px 2px 5px;
  color: $darkerBlue;
  font-size: 24px;
}

.field-eye {
  margin: 2px 5px 2px 10px;
  color: $darkerBlue;
  font-size: 24px;
}

.field-eye.hidden {
  display: inline;
  visibility: hidden;
}

.validation.hidden {
  display: none;
  visibility: hidden;
}

@media (max-width: 500px) {
  .field {
    max-width: 90vw;
    width: 100%;
  }

  .input {
    max-width: 90vw;
    width: 100%;
  }
}

.root {
  display: flex;
  flex-direction: column;
}

.validation {
  display: flex;
  justify-content: center;
  color: $primaryRed;
}