$blueAccent: #0040d2;

@mixin btn($backgroundColor) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 40px 8px 40px;
  width: auto;
  border-radius: 14px;
  background: $backgroundColor;
  transition: all ease-in-out 250ms;
}

@mixin btnText($textColor) {
  font-style: normal;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.015em;
  color: $textColor;
}
@mixin btnHover($bgColor, $textColor) {
  transition: all ease-in-out 600ms;
  background: $bgColor;
  color: $textColor;
}

.button-dark {
  @include btn(#000e2e);
  @include btnText(#fff);
  border: 2px solid #000e2e;
  margin-top: 0;
  margin-bottom: 0;
}

.button-dark:hover {
  @include btnHover(#fff, #000e2e);
}

.button-light {
  @include btn(#fff);
  @include btnText(#000e2e);
  border: 2px solid #000e2e;
  margin-top: 0;
  margin-bottom: 0;
}

.button-light:hover {
  @include btnHover(#000e2e, #fff);
}

.button-dark-blue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px 4px 8px;
  margin: 0px;
  width: 200px;
  border-radius: 14px;
  background: #000e2e;
  border: 1px solid #000e2e;
  transition: all ease-in-out 250ms;
  text-align: center;
  color: #fff;

  &:hover {
    transition: all ease-in-out 300ms;
    background: #002477;
    border-color: #002477;
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    background: #000e2e96;
    border-color: #000e2e96;
  }

  &:disabled:hover {
    background: #000e2e96;
    border-color: #000e2e96;
  }
}

.primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 40px 8px 40px;
  width: auto;
  border-radius: 14px;
  background: $blueAccent;
  transition: all ease-in-out 250ms;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.015em;
  color: #fff;

  &:hover {
    transition: all ease-in-out 600ms;
    background: #002477;
    color: #fff;
  }
}
