@mixin btnBase {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  border-radius: 14px;
  padding: 0.5rem 1.5rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

@mixin coloredBtn($color, $hoverColor, $textColor) {
  @include btnBase;
  color: $textColor;
  background-color: $color;
  border: 1px solid $color;

  &:hover {
    background-color: $hoverColor  !important;
    color: $textColor  !important;
    border: 1px solid $color  !important;
  }
}

.dark-blue-primary {
  @include coloredBtn($color: #000e2e, $hoverColor: #002477, $textColor: #fff);
}

.light-blue-primary {
  @include coloredBtn($color: #0040d2, $hoverColor: #002477, $textColor: #fff);
}

.dark-blue-secondary {
  @include coloredBtn($color: #002477, $hoverColor: #000e2e, $textColor: #fff);
}

.lgbt {
  @include btnBase;
  color: white;
  background: linear-gradient(to right, #ff8fc3, #0a66c2);
  transition: all 0.4s ease-in-out;

  &:hover {
    background: linear-gradient(to right, #ffadd3, #307ac4);
  }
}